.Map iframe{
    width: 100%;
    outline: none;
    border: none;
    height: 35vw;
}
.contactContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    padding:100px 7vw
}
.contactSecond .contactTitle h3 a {
    color: var(--white-color);
}
.contactSecond .contactTitle {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    font-family: "Lexend", serif!important;
}
.contactSecond .contactTitle h3 {
    color: var(--white-color);
}
.contactSecond .contactTitle h3 span{
    font-weight: 300;
}
.contact_banner h1{
    color: var(--white-color);
    font-family: "Space Mono",monospace !important;
    font-size: 17vw;
    text-align: center;
    text-transform: uppercase;
    user-select: none; /* Prevent text selection */
    letter-spacing: 2vw;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin: 0 0 4vw 0;
}
.contactTitle{
    max-width: 520px;
}
.contactTitle h2{
    font-family: "Lexend", serif!important;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 3vw;
    color: var(--white-color);
    margin-bottom: 20px;
}
.formContact {
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formContact form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: 'Inter';
}
.formContact input,.formContact textarea {
    width: 100%;
    border: none;
    font-family: 'Inter';
    font-size: 16px;
    border-bottom: 1px solid var(--white-color);
    padding: 1rem 1rem;
    background: none;
    outline: none;
    color: var(--white-color);
}
.formContact textarea {
    height: 150px;
    line-height: 20px;
} 
.formContact form button{
    background-color: var(--white-color);
    cursor: pointer;
    color: var(--primary-color);
    border-radius: 5rem;
    font-family: "Helvetica Neue" !important;
    font-size: 14px;
    // font-weight: 500;
    letter-spacing: .05em;
    padding: 9px 30px;
    border: none;
    transition: all 0.3s ease-in-out;
}
.formContact form button:hover{
    transform: scale(1.2);
}
::placeholder{
    color: var(--white-color);
}
.SocialMediaIcons{
    display: flex;
    gap: 20px;
}
.SocialMediaIcons a{
    font-size: 25px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.bg{
    background-color: #A837F8;
    color: white!important;
}
.SocialMediaIcons a:hover{
    transform: scale(1.1);
}