.Map iframe{
    width: 100%;
    outline: none;
    border: none;
    height: 35vw;
}

.contact_banner h1{
    color: var(--white-color);
    font-family: "Space Mono",monospace !important;
    font-size: 17vw;
    text-align: center;
    text-transform: uppercase;
    user-select: none; /* Prevent text selection */
    letter-spacing: 2vw;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin: 0 0 4vw 0;
}